.banner {
  text-align: center;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-bottom: 20px;
}

.banner img {
  max-width: 100%;
  height: auto;
}

.banner h1 {
  margin: 20px 0;
  font-size: 2rem;
  color: #fff;
}

.banner p {
  font-size: 1.2rem;
  color: #fff;
}

.movie-posters {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.movie-poster {
  height: 300px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.movie-banner{
  width: -webkit-fill-available;

}
.content{
  margin-top: -95px;
}